.container {
    font-family: 'Poppins', sans-serif;
}

/* HERO */
.hero {
    height: 100dvh;
    background: linear-gradient(-45deg, #1e3c72, #2a5298, #ff6b00, #ff9800);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.searchBox {
    margin-top: 20px;
    position: relative;
}

.searchInput{
    position: relative;
    /* border: 2px solid gray; */
    border-radius: 6px;
    overflow: hidden;
}

.searchBox input {
    padding: 14px;
    width: 500px;
    border-radius: 6px 0 0 6px;
    border: none;
    outline: none;
    padding-right: 95px;
}

.searchBox button {
    padding: 14px 20px;
    border: none;
    background: #111;
    color: white;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.suggestions {
    position: absolute;
    top: 50px;
    background: white;
    width: 100%;
    border-radius: 6px;
    text-align: left;
}

.suggestionItem {
    padding: 10px;
    cursor: pointer;
}

.suggestionItem:hover {
    background: #f0f0f0;
    border-radius: 6px;
}

/* SECTION */
.section {
    padding: 80px 40px;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.4s;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 15px;
    color: white;
}

/* HOW SECTION */
.howSection {
    background: #f8f9fa;
    padding: 80px 40px;
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    flex-wrap: wrap;
}

.step {
    max-width: 250px;
    transition: 0.3s;
}

.step:hover {
    transform: translateY(-8px);
}

/* CTA */
.cta {
    background: #111;
    color: white;
    padding: 80px 40px;
    text-align: center;
}

.primaryBtnLarge {
    margin-top: 20px;
    padding: 14px 30px;
    font-size: 16px;
    background: #ff6b00;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    padding: 20px;
    text-align: center;
    background: #000;
    color: white;
}