.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px 15px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.primaryBtn {
    padding: 8px 16px;
    background: #ff6b00;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.primaryBtn:hover {
    transform: scale(1.05);
}